**Separando dados de treinamento e teste em um dataset**

In [64]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np

# importando dados de analise de credito
base = pd.read_csv('res/credit-data.csv')
#base['default'].unique
base.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [65]:
#separando previsores e classificadores
previsores = base.iloc[:, 1:4].values
classificadores = base.iloc[:, 4].values

In [66]:
#tratando dados perdidos
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(previsores[:, 1:4])
previsores[:, 1:4] = imputer.transform(previsores[:, 1:4])

# padronizando os dados do dataset ( )
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [72]:
print(previsores.shape)
print(classificadores.shape)




previsores_treinamento, previsores_teste, classificadores_treinamento, classificadores_teste = train_test_split(previsores, classificadores, test_size=0.25, random_state=0)

(2000, 3)
(2000,)

In [73]:
print (previsores_treinamento.shape,previsores_teste.shape)
print (classificadores_treinamento.shape,classificadores_teste.shape)

(1500, 3) (500, 3)
(1500,) (500,)