**Estudo pandas parte 2**

pydataset ( importa alguns datasets de exemplo do formato de dataframe do pandas)

In [10]:
import pydataset
# mostrando os datadets disponiveis usando o head para nao ficar com a lista toda
pydataset.data().head()

      dataset_id                                        title
0  AirPassengers  Monthly Airline Passenger Numbers 1949-1960
1        BJsales            Sales Data with Leading Indicator
2            BOD                    Biochemical Oxygen Demand
3   Formaldehyde                Determination of Formaldehyde
4   HairEyeColor    Hair and Eye Color of Statistics Students

In [11]:
# carregando um dataset da lista
titanic = pydataset.data("titanic")

# com o comando head e possivel pegar so o comeco de um dataframe
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [12]:
# assim como na serie e possivel pegar informacoes gerais do dataframe com describe
titanic.describe()

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817

In [13]:
# contando valores de uma coluna
titanic['class'].value_counts()

3rd class    706
1st class    325
2nd class    285
Name: class, dtype: int64