<br>**Series temporais com Pandas**

In [27]:
# Carregando um arquivo  de logs no formato do sqlite
import pandas as pd
from db import DB

database = DB(filename='res/logs.sqlite3',dbtype='sqlite')
database.tables

Indexing schema. This will take a second...finished!
Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [28]:
logs = database.tables.log.all()
logs.head()

   id                  path  user_id                 date
0   1                     /        3  2017-01-03T11:41:00
1   2              /pandas/        4  2017-01-03T11:37:00
2   3              /videos/        5  2017-01-03T10:47:00
3   4                     /        2  2017-01-03T11:51:00
4   5  /python-para-zumbis/        5  2017-01-03T10:32:00

In [29]:
# ao verificar os tipos de dados do df podemos constatar que a coluna 'data' nao eh do tipo data entao eh necessário fazer uma conversão
logs.dtypes

id          int64
path       object
user_id     int64
date       object
dtype: object

In [30]:
logs['date'] = pd.to_datetime(logs['date'],format='%Y-%m-%d %H:%M:%S.%f')
logs.dtypes

id                  int64
path               object
user_id             int64
date       datetime64[ns]
dtype: object

In [31]:
# agora podemos adicionar um indice no campo data para otimizar a busca ( a partir de agora nosso indice eh o campo date e nao mais o serial)
logs.set_index(['date'],inplace=True)
logs.head()

                     id                  path  user_id
date
2017-01-03 11:41:00   1                     /        3
2017-01-03 11:37:00   2              /pandas/        4
2017-01-03 10:47:00   3              /videos/        5
2017-01-03 11:51:00   4                     /        2
2017-01-03 10:32:00   5  /python-para-zumbis/        5

In [35]:
# neste momento podemos pesquisar utilizando parametros de data como por exemplo pequisar o numero de registros de registros de 2017
logs['2017'].size

300

In [40]:
# ou so numero de registros do dia 3/1/2017 as 10 horas
logs['2017-01-03 10'].size

108

In [42]:
# ou mesmo um slice para rescuperar os registros em um intervalo de horarios
logs['2017-01-03 10:35:01':'2017-01-03 10:37']

                     id                  path  user_id
date
2017-01-03 10:37:00  31              /pandas/        2
2017-01-03 10:36:00  48    /django-ecommerce/        4
2017-01-03 10:36:00  59  /python-para-zumbis/        5
2017-01-03 10:36:00  81              /pandas/        2