**Estudo Pandas**

In [43]:
import pandas as pd
import numpy as np

<br>**SÃ©rie**

In [44]:
#visualizando uma serie do pandas (primeira coluna = indice , segunda = valores)
s= pd.Series([1,3,5,8,6,110])
print(s)

0      1
1      3
2      5
3      8
4      6
5    110
dtype: int64

In [45]:
#acessando o elemento1
print(s[0])
#acessando os elementos 3 e 4
print(s[2:4])

1
2    5
3    8
dtype: int64

<br>Dados basicos da serie

In [46]:
# mostrando dados estatisticos gerais da serie
#
#  mean = media
#  std = desvio padrao ?
#  median = mediana
#
#
s.describe()

count      6.000000
mean      22.166667
std       43.097177
min        1.000000
25%        3.500000
50%        5.500000
75%        7.500000
max      110.000000
dtype: float64

In [47]:
#tambem e possivel chamar em separado
print(s.mean())
#mas tem outras coisas
print(s.median())

22.166666666666668
5.5

In [48]:
#tambem e possivel verificar se existem valores duplicados
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [49]:
# uma outra possibilidade e apendar uma serie na outra
s2= pd.Series([4,99,1])
s3=s.append(s2)
print(s3)

0      1
1      3
2      5
3      8
4      6
5    110
0      4
1     99
2      1
dtype: int64

In [50]:
# no exemplo anterior os indices estao duplicados para evitar este comportamento e preciso usar o parametro "ignore_index=True"
s4=s.append(s2,ignore_index=True)
print(s4)

0      1
1      3
2      5
3      8
4      6
5    110
6      4
7     99
8      1
dtype: int64

<br>**Dataframe**

In [51]:
df = pd.DataFrame([['elemento1',3347],['elemento2',347],['elemento3',3444347]])
df

           0        1
0  elemento1     3347
1  elemento2      347
2  elemento3  3444347

In [52]:
# verificando as dimensoes do dataframe (LINHAS X COLUNAS)
df.shape

(3, 2)

In [53]:
# declarando o dataframe novamente trocando os indices de coluna por nomes
df = pd.DataFrame([['elemento1',3347],['elemento2',347],['elemento3',3444347]],columns=['Coluna1','Coluna2'])
df

     Coluna1  Coluna2
0  elemento1     3347
1  elemento2      347
2  elemento3  3444347

In [54]:
# recuperando os elementos de uma coluna (lembrando que o retorno e sempre uma serie)
col2=df['Coluna2']
print(col2)
col2.describe()

0       3347
1        347
2    3444347
Name: Coluna2, dtype: int64

count    3.000000e+00
mean     1.149347e+06
std      1.987529e+06
min      3.470000e+02
25%      1.847000e+03
50%      3.347000e+03
75%      1.723847e+06
max      3.444347e+06
Name: Coluna2, dtype: float64

In [55]:
# para recuperar uma linha do dataframe e necessario utilizar a funcao iloc ( o retorno e um dicionario)
print(df.iloc[1])
print(df.iloc[1]['Coluna2'])

Coluna1    elemento2
Coluna2          347
Name: 1, dtype: object
347

<br>Pandas Index

In [56]:
df = pd.DataFrame(
        [
            ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
            ['PB', 'ParaÃ­ba', 'JoÃ£o Pessoa'], ['SP', 'SÃ£o Paulo', 'SÃ£o Paulo'],
            ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'CearÃ¡', 'Fortaleza'],
            ['AC', 'Acre', 'Rio Branco'], ['MA', 'MaranhÃ£o', 'SÃ£o LuÃ­s'], ['RN', 'Rio Grande do Norte', 'Natal'],
            ['PR', 'ParanÃ¡', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
        ], columns=['Sigla', 'Nome', 'Capital'],
    )
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              ParaÃ­ba     JoÃ£o Pessoa
3     SP            SÃ£o Paulo       SÃ£o Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                CearÃ¡       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             MaranhÃ£o        SÃ£o LuÃ­s
8     RN  Rio Grande do Norte           Natal
9     PR               ParanÃ¡        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [57]:
#para descobrir como seu dataframe esta sendo indexado no momento
df.index

RangeIndex(start=0, stop=11, step=1)

In [58]:
#recuperando a linha que esta com o indice 0
df.loc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [59]:
#definindo um novo indice para o dataframe agora comecando do numero 1
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])
print(df)

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              ParaÃ­ba     JoÃ£o Pessoa
4     SP            SÃ£o Paulo       SÃ£o Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                CearÃ¡       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             MaranhÃ£o        SÃ£o LuÃ­s
9     RN  Rio Grande do Norte           Natal
10    PR               ParanÃ¡        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [60]:
# ou ainda ... se quiser usar uma coluna como indice
df.index = df['Sigla']
print(df)

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              ParaÃ­ba     JoÃ£o Pessoa
SP       SP            SÃ£o Paulo       SÃ£o Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                CearÃ¡       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             MaranhÃ£o        SÃ£o LuÃ­s
RN       RN  Rio Grande do Norte           Natal
PR       PR               ParanÃ¡        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [61]:
# estamos com a sigla dos estados no indice e na coluna vamos remover a coluna e ficar so com o indice
del df['Sigla']
print(df)

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 ParaÃ­ba     JoÃ£o Pessoa
SP               SÃ£o Paulo       SÃ£o Paulo
MG            Minas Gerais  Belo Horizonte
CE                   CearÃ¡       Fortaleza
AC                    Acre      Rio Branco
MA                MaranhÃ£o        SÃ£o LuÃ­s
RN     Rio Grande do Norte           Natal
PR                  ParanÃ¡        Curitiba
RS       Rio Grande do Sul    Porto Alegre

In [63]:
#acessando uma linha pelo novo indice
df.loc['SP']

Nome       SÃ£o Paulo
Capital    SÃ£o Paulo
Name: SP, dtype: object